**/target
**/gen-java
.classpath
.project
.settings
**/.projectile
**/*~
**/.idea
configs/credentials.yml
src/main/resources/generated
src/main/rudi/TestDA.rudi
src/main/rudi/type_NEX.rudi
**/*.aux
**/*.blg
**/*.bbl
**/*.log
**/*.toc
**/*.out
**/*.nav
**/*.vrb
**/*.snm
**/auto
**/VondaGrammar.output
**/persistent.nt
eval/
rasa/nlu
rasa/entities.py
rasa/evaluation.ipynb
rasa/models
rasa/results
rasa/.rasa/cache
rasa/.cache
rasa/.config
rasa/.keras
rasa/train_test_split
divers
logs
inputs/**
!inputs/.gitkeep
models/**
!models/.gitkeep
.env*
