[submodule "src/main/resources/ontology/drz"]
	path = src/main/resources/ontology/drz
	url = https://github.com/bkiefer/drz-ontology.git
[submodule "src/main/resources/ontology/vonda"]
	path = src/main/resources/ontology/vonda
	url = https://github.com/bkiefer/vonda-ontologies.git
[submodule "asrident"]
	path = modules/asrident
	url = https://github.com/bkiefer/asrident.git
[submodule "vonda"]
	path = modules/vonda
	url = https://github.com/bkiefer/vonda.git
[submodule "drz_intentslot"]
	path = modules/drz_intentslot
	url = https://github.com/bkiefer/drz_intentslot
