networks:
  mlt:
    driver: bridge

services:
  rasa_server:
    image: 'rasa/rasa:3.6.20-full'
    command: ["run", "--enable-api", "--port", "9797"]
    networks:
      - mlt
    container_name: 'rasaserver'
    restart: always
    hostname: 'rasa_server'
    ports:
      - '9797:9797'
    volumes:
      - ./rasa:/app

  broker:
    image: 'eclipse-mosquitto:2.0.15'
    networks:
      - mlt
    restart: always
    container_name: 'mqtt-broker'
    hostname: 'mqtt-broker'
    ports:
      - '9883:1883'
    #   - '9001:9001'
    volumes:
      - ./configs/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro

  asrident:
    depends_on:
      - broker
      - mkm
    image: 'asrident'
    environment:
      PULSE_SERVER: "unix:${XDG_RUNTIME_DIR}/pulse/native"
    command: ["/bin/sh", "-c", "sleep 15 &&
              (uv run ./run_whisper.sh -m -c config.yml 2>&1
              | tee logs/asrident.log) &
              (uv run mqttrecorder.py -c rec_config.yml -o logs/recorder.log)"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              # count: 1
              capabilities: [gpu]
    networks:
      - mlt
    container_name: 'asrident'
    restart: always
    hostname: 'asrident'
    devices:
      - /dev/snd
    group_add:
      - audio
    volumes:
      - ${XDG_RUNTIME_DIR}/pulse/native:${XDG_RUNTIME_DIR}/pulse/native
      - ${HOME}/.config/pulse-cookie:/root/.config/pulse-cookie
      - ./configs/asrident_de_config.yml:/app/asrident/config.yml:ro
      - ./configs/mkmrec_config.yml:/app/asrident/rec_config.yml:ro
      - ./modules/asrident/models:/app/asrident/models
      - ./modules/asrident/audio:/app/asrident/audio
      - ./modules/asrident/outputs:/app/asrident/outputs
      - ./logs/${LOGDIR}:/app/asrident/logs
      - ./inputs:/app/asrident/inputs

  drzintent:
    depends_on:
      - broker
    image: drz_daslot
    command: ["/bin/bash", "-c",
    "uv run adapters_bio_tags_server.py 2>&1 | tee logs/drzintent.log"]
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              # count: 1
              capabilities: [gpu]
    networks:
      - mlt
    container_name: 'drz_daslot'
    restart: always
    hostname: 'drzintent'
    ports:
      - 5050:5050
    volumes:
      - ./logs/${LOGDIR}:/app/logs
      - ./modules/drz_intentslot/adapters:/app/adapters
      - ./modules/drz_intentslot/bert-base-german-cased:/app/bert-base-german-cased
    healthcheck:
      test: ["CMD-SHELL",
      "test \"$(curl http://drzintent:5050/alive)\" = 'tag server is alive'"]
      interval: 30s
      retries: 5
      start_period: 40s
      timeout: 30s

  mkm:
    depends_on:
      broker:
        condition: service_started
      rasa_server:
        condition: service_started
      drzintent:
        condition: service_healthy
    image: 'mkm'
    command: [ "/bin/sh", "-c",
    "java -Xmx64m -jar mkm-fatjar.jar 2>&1 | tee logs/mkm_full.log" ]
    networks:
      - mlt
    container_name: 'mkm'
    restart: always
    hostname: 'mkm'
    volumes:
      - ./configs/mkm-docomp-config.yml:/app/config.yml:ro
      - ./logs/${LOGDIR}:/app/logs
      - ./logs/${LOGDIR}/persistent.nt:/app/persistent.nt
