<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>

  <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>mkm.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover -->
      <fileNamePattern>mkm.%d{yyyy-MM-dd}.log</fileNamePattern>

      <!-- keep 30 days' worth of history capped at 3GB total size -->
      <maxHistory>30</maxHistory>
      <totalSizeCap>3GB</totalSizeCap>
    </rollingPolicy>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="STDERR" class="ConsoleAppender">
    <target>System.err</target>
    <!--<withJansi>true</withJansi>-->
    <encoder class="PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) %logger{36} - %msg%n</pattern>
      <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern-->
    </encoder>
  </appender>

  <logger name="de.dfki.drz" level="DEBUG"/>
  <logger name="de.dfki.mlt.rudimant.agent" level="DEBUG"/>
  <logger name="de.dfki.mlt.rudimant.common" level="DEBUG"/>
  <logger name="de.dfki.mlt.rudimant.nlp" level="DEBUG"/>

  <root level="WARN">
    <appender-ref ref="STDERR"/>
    <appender-ref ref="logfile"/>
  </root>
</configuration>
