# What's the language of the ASR model (if any, is optional)
# the language, if set, will be appended to the publishing topic like this:
# /whisperasr/asrresult/<lang>

language: de

# adaptation_state_infile="state"
# adaptation_state_outfile="state"

monitor_mic: false
monitor_asr: false

# host of MQTT broker (specify port, too, if necessary)
mqtt:
  host: mqtt-broker  # using docker compose
  #host: host.docker.internal  # running locally
  #host: localhost
  #port: 9883

# List the pulseaudio devices with this command:
# pactl list sources | grep -e 'node.name'
# get the default device
# pactl get-default-source
# if you want to change it from the command line, get the right one from list
# pactl set-default-source <source_name>

# Sennheiser USB headset, make sure it's the OS/pulse default device
# This pipeline does the right conversion already
# pipeline: "pulsesrc ! audioconvert ! audio/x-raw,format=S16LE,channels=1,rate={} ! appsink name=sink emit-signals=true"

# ReSpeaker V2, make sure it's the OS/pulse default device
# It's the multichannel device!
# channels: 6, used channel: 0 (combo channel), sample_rate: 16000
# This pipeline does the right things already
#pipeline: 'pulsesrc ! audio/x-raw,format=S16LE,channels=6,rate={} ! deinterleave name=d d.src_0 ! appsink name=sink emit_signals=true'
pipeline: 'pulsesrc ! audioresample ! audio/x-raw,format=S16LE,channels=1,rate={} ! appsink name=sink emit_signals=true'

# sample rate of the ASR model (currently 16k)
asr_sample_rate: 16000

# only uses whisper: section, the other is there for reference
whisper:
  # if url is given, the other config slots are ignored
  url: http://serv-9210.kl.dfki.de:5021/transcribe # remote large-v3

whisper_local:
  # model_size: large-v2
  model_size: large-v3-turbo
  # model_size: medium
  # model_size: tiny
  device: gpu
  compute_type: float32

vad:
  threshold: 0.2
  min_silence_duration_ms: 300
#  speech_pad_ms: 50

whisper_transcription:
  language: de
#  task: asr
#   initial_prompt: 'Andreas,Benno,Bodenoperator 1,Bodenoperator 2,Bodenroboter 2,Daniel,Dirk,Drohne,Drohnenoperator,Einsatzleiter,Lena,Markus,Mission Commander,Mission Operator,Operator 1,Operator 2,Operator Boden 1,Operator Boden 2,Operator UAV,Sven,Teamleader,Teamleiter,Teamleiter 1,Thorsten,UAV,UAV 1,UAV Drohne,UAV Operator,UGV 1,UGV 2,Feuerwehr Bochum,kommen,hört,höre'
#  prefix: ""
#  prepend_punctuations: ''
#  append_punctuations: ".?"
#  # int values
#  beam_size: 3
#  best_of: 3
#  min_speech_duration_ms: 500
#  min_silence_duration_ms: 400
#  window_size_samples: 1000
#  speech_pad_ms: 100
#  # boolean values
#  condition_on_previous_text: true
#  suppress_blank: true
#  without_timestamps: true
#  word_timestamps: false
  vad_filter: false
#  # float list
#  temperature: 0.0, 1.0
#  # string list
#  suppress_tokens: "bla", "blub"
